<p>
  Hola Soy Danny Fernandez, soy desarollador autodidacta con formación
  Universitaria. Mi especialidad es la programación Web enfocado al Backend.
</p>
<p>
  Completé el curso The Odin Project durante un año, en el que profundicé cada
  tema, desde principios de accesibilidad en el frontend, hasta algoritmia y
  ciencias de datos para el backend.
</p>
<p>
  Mis ganas por programar siempre estuvo presente, por lo que siempre colaboro
  con gente de distintas comunidades y actualmente estoy en búsqueda de
  participar en un equipo formal.
</p>
