---
import CopyContainer from './ui/CopyContainer.astro'
---

<section id="contact">
  <h2>Contacto</h2>
  <div class="w-full gap-4 flex justify-center">
    <span>
      <h4>Correo:</h4>
      <CopyContainer info="Danny.Fernandez.Velasco@gmail.com" />
    </span>
    <span>
      <h4>Número:</h4>
      <CopyContainer info="+591 76933088" />
    </span>
  </div>
</section>
