---
import CopyIcon from '../social-icons/CopyIcon.astro'
const { info } = Astro.props
---

<span>
  {info}
  <button class="copy-info" data-info={info} title="Copiar en portapapeles">
    <CopyIcon />
  </button>
</span>
<style>
  span {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.342);
    border: 3px inset rgba(0, 0, 0, 0.767);
    border-radius: 5px;
  }
</style>
